/* Custom scrollbar for items */
.cart-items-container::-webkit-scrollbar {
  width: 6px;
}

.cart-items-container::-webkit-scrollbar-track {
  background: transparent;
}

.cart-items-container::-webkit-scrollbar-thumb {
  background: rgba(28, 76, 138, 0.1);
  border-radius: 10px;
}

@media (max-width: 640px) {
  .cart-sidebar {
    max-width: 100% !important;
  }
}
